* {
margin: 0;
padding: 0;
}

body {
  margin: 20px;
  font-size: 100%;
}

h1 {
  font-family: arial, helvetica, sans-serif;
  font-size: 3em;
}

.title{
  color: #847EBB;
  font-size: 4em;
}

p, a {
  margin-bottom: 20px;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  font-color: red;
}

a:hover {
  background-color: yellow;
}
