/* These styles are just to make it easier to see the blocks, initially. */
@font-face {
	font-family: 'GothamBook';
	src: url(assets/fonts/GothamBook.ttf); format('truetype');
}

html{
	background-color: #191414;
}

h1 {
	font-family: avenir;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 48pt;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 30px;
	color: white;
}

h2 {
	font-family: avenir;
	font-weight: bold;
	font-size: 24pt;
	color: white;
	margin: 20px;
}

h3 {
	color: lightgray;
	font-family: avenir;
	font-weight: bold;
}

body {
	font-family: avenir;
	font-weight: lighter;
	padding: 20px;
	color: lightgray;
}

a {
	color: #bcc5ff;
}

section {
	margin: 40px;
	/* max-width: 600px; */
}

figure {
	margin-top: 40px;
	/* max-width: 600px; */
}

.card {
	display: flex;
	margin: 20px;
	columns: 3;
}

.link {
	color: lightgray;
	font-family: avenir;
	font-weight: bold;
}

.image {
	height: 50px;
	width: auto;
}

.song{
	display: flex;
	margin: 20px;
}

.play-container {
	margin-left: 10px;
	margin-right: 20px;
	width: 15px;
	padding-top: 15px;
}

.image-container {
	margin-left: 10px;
	margin-right: 10px;
	width: 10%;
}

.title-container {
	margin-left: 10px;
	margin-right: 10px;
	width: 30%;
}

.description-container {
	margin-left: 10px;
	margin-right: 10px;
	width: 60%;
}

.container {
		columns: 3;
		display: flex;
}

.block{
	background-color: #191414;
	background-image: linear-gradient(#585454 0%, #181414 200px);
	padding: 20px;
	margin: 10px;
}

.arrows{
	display: flex;
	width: 110px;
}

.arrow{
	margin: 10px;
}

#channel-description > *,
figure > *:not(:first-child),
.description > *:not(:first-child),
.content > *:not(:first-child) {
	display: block;
	margin-top: 1em;
}

/* Clear them out once you’ve got your channel plugged in! */
