/* These styles are just to make it easier to see the blocks, initially. */
@font-face {
	font-family: 'GothamBook';
	src: url(assets/fonts/GothamBook.ttf); format('truetype');
}

html{
	background-color: #191414;
}

h1 {
	font-family: krona one;
	font-size: 48pt;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 30px;
	color: lightgray;
}

h2 {
	font-family: krona one;
	font-size: 24pt;
	color: #bcc5ff;
}

h3 {
	color: lightgray;
	font-family: titillium web;
	font-weight: bold;
}

body {
	font-family: titillium web;
	padding: 20px;
	color: lightgray;
}

a {
	color: #bcc5ff;
}

section {
	margin-top: 40px;
	/* max-width: 600px; */
}

figure {
	margin-top: 40px;
	/* max-width: 600px; */
	display: flex;
}

.link {
	color: lightgray;
	font-family: titillium web;
	font-weight: bold;
}

.image {
	height: 50px;
	width: auto;
}

.image-container {
	margin: 20px;
}

.container {
		columns: 1;
}

.block{
	background-color: #191414;
	background-image: linear-gradient(#585454 0%, #181414 200px);
	padding: 20px;
	margin: 10px;
}

#channel-description > *,
figure > *:not(:first-child),
.description > *:not(:first-child),
.content > *:not(:first-child) {
	display: block;
	margin-top: 1em;
}

/* Clear them out once you’ve got your channel plugged in! */
