/* These styles are just to make it easier to see the blocks, initially. */


h1 {
	font-family: krona one;
	font-size: 48pt;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 30px;
}

h2 {
	font-family: krona one;
	font-size: 24pt;
}

h3 {
	font-family: krona one;
	font-size: 12pt;
}

body {
	font-family: titillium web;
	padding: 20px;
}

a {
	color: #1DB954;
}

section,
figure {
	margin-top: 40px;
	max-width: 600px;
}

.container {
		columns: 2;
}

.block{
	background-color: lightgrey;
	padding: 20px;
	margin: 10px;
}

#channel-description > *,
figure > *:not(:first-child),
.description > *:not(:first-child),
.content > *:not(:first-child) {
	display: block;
	margin-top: 1em;
}

/* Clear them out once you’ve got your channel plugged in! */
